.category_table {
  width: 80%;
  margin: 0 auto;

  .heading {
    text-align: start;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .content {
    .item_container {
      a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        .item {
          display: inline-block;

          font-weight: 500;
          font-size: 1rem;
          color: #9f9f9f;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .category_table {
    display: none;
  }
}
