.registrationForm {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 67px;
}
@media screen and (max-width: 1000px) {
  .registrationForm {
    flex-direction: column;
    align-items: center;
  }
}
